kafka-python
pymongo
requests
duckdb
tabulate
numpy
boto3
minio
python-dotenv
openai
langchain
langchain-community
langchain_experimental
langchain_openai
pandas
psycopg2-binary
apache-airflow-providers-celery
redis